rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // TODO: Lock this down once Auth is implemented.
    match /oscs/{osc} {
      allow read, write: if true;
    }
    match /editais/{edital} {
      allow read, write: if true;
    }
    match /matches/{match} {
      allow read, write: if true;
    }
    match /rss_sources/{source} {
      allow read, write: if true;
    }
  }
}
